@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "JoseFin Sans",sans-serif;
    font-weight: 300;
}

html{
    font-size: 62.5%;
}

.main-div{
    width: 100vw;
    min-height: 100vh;
    place-items: center;
    display: grid;
    background-color:rgb(176, 233, 246);
}

.inner-div{
    width: 40vw;
    background-color: #fff;
    padding: 3rem 8rem;
    border-radius: 1rem;
}

.inner-div h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 0 4rem 0;
}

.inner-div li{
    font-size: 2rem;
    margin-top: 1.5rem;
    list-style: none;
}
input{
    cursor: pointer;
}

#submit,button{
    display: block;
    padding: 1rem 3rem;
    margin: auto;
    outline: none;
    font-size: 2rem;
    font-weight: 400;
    background-color: #74b9ff;
    border: none;
    margin-top: 4rem;
}

#submit:hover{
    background-color: #0984e3;
}

#showScore{
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
}
.ScoreArea{
    display: none;
}

#showScore h3{
    font-size: 3rem;
    text-align: center;
}

#showScore.btn{
    margin-top: 2rem;
    margin-left: 3rem;
    background-color: #55efc4;
    color: #2d3436;
}

#showScore.btn :hover{
    background-color: #00b894;
    color: #fff;
}